body {
  margin: 0;
  min-height: 100%;
  font-family: sans-serif;
}

.bar {
  height: 128px;
  background-color: #eee;
}

.bar .playarea {
  position: absolute;
  height: 128px;
  background-color: #000;
  opacity: .4;
  display: inline-block;
  width: 1em;
  z-index: 2;
}

#playhead {
  position: absolute;
  width: 1px;
  height: 128px;
  background-color: #000;
  display: inline-block;
}

#controls {
  position: fixed;
  bottom: 0;
  background-color: #eee;
  width: 100%;
  display: flex;
}

#controls > * {
  width: 33%;
  height: 128px;
  -webkit-appearance: none;
}

#controls > *:first-child {
  width: 34%;
}

#controls button,
#controls select {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

#controls div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#playarea-settings {
  display: none;
  position: fixed;
  padding-top: 0px;
  z-index: 2;
}

#playarea-settings .content {
  min-height: 100%;
}

#bpm {
  width: 33%;
  text-align: center;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
}

ul {
  list-style: none;
  margin: 0 0 128px;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}

ul li {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 50% 0 0;
  width: 50%;
}

ul li.add {
  background-color: #eee;
}

ul li div:hover {
  background-color: rgba(0,0,0,.05);
}

ul li div {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

ul li.add div span {
  pointer-events: none;
  font-size: 4em;
  margin-bottom: 0.15em;
  color: lightslategrey;
}

ul .playarea {
  cursor: pointer;
}


ul li.tomato,
.bar .playarea.tomato,
#playarea-settings.tomato .content {
  background-color: tomato;
}

ul li.gold,
.bar .playarea.gold,
#playarea-settings.gold .content {
  background-color: gold;
}

ul li.darkorange,
.bar .playarea.darkorange,
#playarea-settings.darkorange .content {
  background-color: darkorange;
}

ul li.limegreen,
.bar .playarea.limegreen,
#playarea-settings.limegreen .content {
  background-color: limegreen;
}

ul li.lightsteelblue,
.bar .playarea.lightsteelblue,
#playarea-settings.lightsteelblue .content {
  background-color: lightsteelblue;
}

ul li.mediumorchid,
.bar .playarea.mediumorchid,
#playarea-settings.mediumorchid .content {
  background-color: mediumorchid;
}

ul li.hotpink,
.bar .playarea.hotpink,
#playarea-settings.hotpink .content {
  background-color: hotpink;
}

.rangeslider {
  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  position: relative;
  display: block;
}

.rangeslider .rangeslider__fill {
  background-color: rgba(255,255,255,.2);
  height: 100%;
  display: block;
  position: absolute;
}

.rangeslider .rangeslider__handle {
  background-color: rgba(255,255,255,.9);
  height: 100%;
  cursor: pointer;
  position: absolute;
  width: 64px;
}

#edit-controls {
  display: flex;
}

#edit-controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 128px;
  cursor: pointer;
}

#edit-controls div span {
  pointer-events: none;
  font-size: 4em;
  margin-bottom: 0.15em;
  color: #fff;
}

/* Media queries */

@media only screen and (min-width: 460px) {
  ul li {
    width: 33.333%;
    padding: 33.333% 0 0;
  }
  
}

@media only screen and (min-width: 680px) {
  ul li {
    width: 25%;
    padding: 25% 0 0;
  }
  
}

@media only screen and (min-width: 1020px) {
  ul li {
    width: 20%;
    padding: 20% 0 0;
  }
  
}

@media only screen and (min-width: 1400px) {
  ul li {
    width: 16.666666667%;
    padding: 16.666666667% 0 0;
  }
  
}

@media only screen and (min-width: 1600px) {
  ul li {
    width: 14.285714286%;
    padding: 14.285714286% 0 0;
  }
  
}
